@model SchoolWebsite.Models.Course

@{
    ViewBag.Title = "courseDetailsUser";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Course Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleLimit)
        </dd>
    </dl>
</div>
<div class="col-lg-offset-1 col-lg-10 ">
    <h3>Lektorzy</h3>
    <table class="table-bordered" style="margin-bottom:20px">
        <thead>
            <tr style="padding:10px">
                <td>
                    Name
                </td>
                <td>
                    Surname
                </td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Lectors)
            {
                <tr style="padding-right:10px">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="col-lg-offset-1 col-lg-10 ">
    <h3>Przedmioty</h3>
    <table class="table-bordered" style="">
        <thead>
            <tr style="padding:10px">
                <td>
                    Nazwa przedmiotu
                </td>
                <td>
                    Gatunek przedmiotu
                </td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Przedmioty)
            {
                <tr style="padding:10px">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Specie.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p class="col-lg-12">
    @Html.ActionLink("Back to List", "Education","Home")
</p>
