
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<div class="col-lg-4">
    <h2>Admin Page</h2>
    <ul class="list-group">
        <li class="list-group-item">
            @Html.ActionLink("Species", "Index", "Specie")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Przedmioty", "Index", "Przedmiot")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Lectors", "Index", "Lector")
        </li>
        <li class="list-group-item">

            @Html.ActionLink("Courses", "Index", "Courses")
        </li>
        <li class="list-group-item">
            @Html.ActionLink("Users", "Index", "User")
        </li>
    </ul>
</div>

